body{
    background-color: lightcyan;
    justify-content: center;
}


.formUser{
    background-color: black;
    justify-content: center;
}

.userInfo{
    background-color: bisque;
    text-justify: auto;
}